<% include ../partials/header.ejs %>
<h1>المديرين</h1>
<table border="1">
  <thead>
    <tr>
      <th>الاسم</th>
      <th>الرتبة</th>
      <th>القسم</th>
      <th>اجراءات</th>
    </tr>
  </thead>
  <tbody>
    <% managers.forEach(function(m) { %>
      <tr>
        <td><%= m.name %></td>
        <td><%= m.rank %></td>
        <td><%= m.department %></td>
        <td>
          <a href="/managers/<%= m._id %>/edit">تعديل</a>
          <form action="/managers/<%= m._id %>/delete" method="post" style="display:inline;">
            <button type="submit">حذف</button>
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
<% include ../partials/footer.ejs %>